@import 'variables';
.header{
  position: relative;
  @media screen and (min-width: 768px) {
    position: sticky;
  }
  z-index: 999;
  top: 0;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $gradient;
  padding: 1rem 0;
  .page-title{
    @extend .f-lobster;
    @extend .f-xl;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
}
